@use '../../styles/pikabu-mixins' as *;


.des--pikabu-fixes-card {
  &__island {
    border-radius: 8px !important;
    border: 1px solid var(--dkit-island-border);

    @include mobile {
      border: none;
      border-radius: 0;
    }
  }

  &__settings-icon {
    margin-left: auto;
  }
}
