.des--pikabu-comments-expander {

  //&_expanded {
  //  &:after {
  //    display: inline;
  //    content: '[e]';
  //  }
  //}
  //
  //&_user-clicked {
  //  &:before {
  //    display: inline;
  //    content: '[u]';
  //  }
  //}
}
