.des--pikabu-fixes-tool-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0 4px;
  height: var(--dkit-control-min-height);
  position: relative;
  border-radius: var(--dkit-control-min-height);
  background-color: var(--dkit-island-bg);
  gap: var(--dkit-row-gap);

  --toolbar-block-label-color: var(--dkit-page-placeholder-color);
  --toolbar-box-shadow: 0 0 0 1px var(--color-bright-800);

  &_highlight {
    box-shadow: 0 0 0 2px var(--dkit-status-success-color);
    --toolbar-block-label-color: var(--dkit-status-success-color);
    --toolbar-box-shadow: 0 0 0 1px var(--dkit-status-success-color);
  }

  &__label {
    position: absolute;
    font-size: 8px;
    color: var(--toolbar-block-label-color);
    background-color: var(--dkit-island-bg);
    border-radius: 1em 1em 0 0;
    top: -2px;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.3em;
    padding: 0 4px;
  }
}
