@use '/node_modules/@des-kit/styles/mixins/theme/light.theme' as lt;
@use '/node_modules/@des-kit/styles/mixins/theme/dark.theme' as dt;
@use '/node_modules/@des-kit/styles/mixins/status' as status;

@mixin mobile {
  html.mv & {
    @content;
  }
}

@mixin dark {
  [data-theme-auto] {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  }

  [data-theme-dark] {
    @content;
  }
}

@mixin des-kit-styles {
  @include lt.light-theme();

  &[data-status="neutral"], & [data-status="neutral"] {
    @include status.status-neutral;
  }

  &[data-status="info"], & [data-status="info"] {
    @include status.status-info;
  }

  &[data-status="warning"], & [data-status="warning"] {
    @include status.status-warning;
  }

  &[data-status="success"], & [data-status="success"] {
    @include status.status-success;
  }

  &[data-status="error"], & [data-status="error"] {
    @include status.status-error;
  }


  @include dark {
    @include dt.dark-theme()
  }
}

@mixin pikabu-normalize {
  button.button_hover, button:hover, .button.button_hover, .button:hover {
    filter: none;
  }

  button.button_active, button:active, .button.button_active, .button:active {
    filter: none;
  }

  button.button_disabled, button:disabled, button[data-disabled=true], .button.button_disabled, .button:disabled, .button[data-disabled=true] {
    opacity: 1;
    cursor: not-allowed;
    filter: none;
  }
}
