@use '../../../../common/styles/pikabu-mixins' as *;

.des--sidebar-with-slot {
  .des--mount {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    @include mobile {
      margin-top: 0;
    }
  }
}
