@use '../../../../common/styles/pikabu-mixins' as pikabu;


.des--pikabu-comment {
  @include pikabu.des-kit-styles();

  &_highlight {
    & > .comment__body {
      position: relative;
      background-color: initial;
      box-shadow: none;

      .comment__header {
        .comment__user {
          .user__nick {
            position: relative;

            &:after {
              content: '';
              position: absolute;
              display: block;
              background-color: var(--dkit-status-color);
              opacity: 1;

              height: 2px;
              bottom: 0;
              left: 0;
              right: 0;
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}
