.des--pikabu-user-inline-with-slot-append {
  & > .des--mount {
    margin: 0 4px;
    display: inline-flex;

    & > * {
      display: inline-flex;
    }
  }
}

.des--pikabu-user-inline-with-slot-after {
  & + .des--mount {
    margin: 0 4px;
    display: inline-flex;

    & > * {
      display: inline-flex;
    }
  }
}