.des--pikabu-user-note-tags {
  display: inline-flex;
  align-items: center;
  gap: var(--dkit-control-padding-to-icon);

  &__text {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7em;
  }

  &__input {
    padding: 0 var(--dkit-control-padding-to-text);
    margin: 0;
    min-width: 2em;
    max-width: 15em;
    border: none;
    outline: none;
    font: inherit;

    &::placeholder {
      color: var(--dkit-page-placeholder-color);
    }
  }
}
