.des--scale {
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;

  &__left, &__right {
    flex: 1 1 auto;
    opacity: 0.5;
    transition: var(--dkit-transition);

    background-color: var(--color-black-600);

    &[data-status="success"] {
      background-color: var(--color-primary-700);
    }

    &[data-status="error"] {
      background-color: var(--color-danger-900);
    }

    &_accent {
      opacity: 1;
    }
  }

  &__left {
    flex: none;
  }
}
