.des--block-waiter-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  10% {opacity: 0;}
  100% {opacity: 1;}
}