@use '../../../../common/styles/pikabu-mixins' as pikabu;

.des--pikabu-story-with-slot-rating {
  //@include pikabu.des-kit-styles;

  .story__rating-block {

    .story__rating-count {
      display: none;
    }

    & >, & + {
      .des--mount {
        margin: 0 4px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  @include pikabu.mobile {
    .story__footer-rating div {

      &:first-child {
        font: var(--dkit-font-normal) !important;
      }

      .story__rating-up {
        min-width: auto;
      }

      & >, & + {
        .des--mount {

          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 8px;
        }
      }
    }
  }
}

.des--pikabu-story-with-slot-toolbar-left {
  .story__tools {
    & >, & + {
      .des--mount {

        display: inline-flex;
        align-items: center;
        gap: 16px;
        margin-right: 16px;

      }
    }
  }
}

.des--pikabu-story-with-slot-toolbar-right {
  .story__additional-tools {
    justify-content: flex-end;

    & >, & + {
      .des--mount {

        display: inline-flex;
        align-items: center;
        gap: 16px;
        margin-left: 16px;

      }
    }
  }

  .story__donate {
    margin-left: 8px;
  }
}
