.des--rating-v1 {
  display: flex;
  flex-direction: column;
  min-width: 32px;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0 4px;
    color: var(--color-black-600);

    span {
      &[data-status="success"] {
        color: var(--color-primary-700);
      }

      &[data-status="error"] {
        opacity: 0.75;
        color: var(--color-danger-900);
      }
    }
  }
}
