.des--pikabu-user-indicator {
  background-color: var(--dkit-status-success-color);
  width: var(--dkit-icon-size);
  height: var(--dkit-icon-size);
  border-radius: var(--dkit-icon-size);

  opacity: 0.5;

  &_less-of-year {
    background-color: var(--dkit-status-neutral-color);
  }

  &_less-of-month {
    background-color: var(--dkit-status-info-color);
  }

  &_less-of-week {
    background-color: var(--dkit-status-warning-color);
  }

  &_less-of-day {
    background-color: var(--dkit-status-error-color);
  }

}
