.des--wrap-tooltip-text {
  display: flex;
  flex-direction: column;
  gap: var(--dkit-block-gap);
  max-width: 250px;

  & > p {
    min-width: 200px;
    white-space: pre-wrap;
    text-align: center;
  }
}