.des--pikabu-booster-upvote-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;

  &_can-vote {
    box-shadow: 0 0 0 2px var(--dkit-status-success-color);
  }

  &_progress {
    background-color: var(--dkit-status-warning-bg);
    box-shadow: 0 0 0 2px var(--dkit-status-warning-color);
  }

  &_success {

  }

  &_error {
    box-shadow: 0 0 0 2px var(--dkit-status-error-color);
  }

  &__multiplier {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
}
