@use "../../../../../common/styles/pikabu-mixins" as pikabu;

.des--pikabu-comment-rating-with-slot-rating {
  .comment__rating-up {
    margin-right: 0;
    padding: 2px 3px;

    @include pikabu.mobile {
      padding: 2px 4px;
    }

    .icon--comments__rating-up, .icon--ui__rating-up {
      margin-right: 0;
    }

  }

  .comment__rating-count {
    display: none;
  }

  .des--mount {
    margin: 0 4px;
  }
}
