.des--page-hide-donate {
  .story__donate,
  .tool_donate {
    display: none;
  }
}

.des--page-hide-short-story-design {
  .story_short {
    .story__bg-story-short {
      display: none;
    }

    .story__content-inner {
      display: block;
      min-height: auto;
      padding: 0;
      background: none;
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;

      .story-block {
        padding: 0 24px;
        text-align: inherit !important;

        p {
          text-align: inherit !important;
        }

        a,
        .link {
          color: var(--color-primary-900);
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}