.des--pikabu-comments-expand-all-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;

  .des--mount & {
    &:disabled {
      opacity: 0.5;
    }
  }
}